name: NodeJS with Webpack

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: '16.x'

    - name: Build
      run:
        npm install
        npm run build
        
    - name: Upload GitHub Pages artifact
      uses: actions/upload-pages-artifact@v1.0.5
      with:
        path: 'build/'
        
  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    permissions:
      pages: write
      id-token: write
    
    steps:
    - name: Deploy GitHub Pages site
      uses: actions/deploy-pages@v1.2.2
